body{
background-color: 	#7a7771;
}

.img_topo{
    width: 100%;
    height: 30%;
}
.img_corpo{
    width: 40%;
}
.conteiner{
    width: 80%;
    margin:auto
}
h1{
    text-align: center;
    font-size: 2.0em;
    color:#ecce91;
    padding: 1%;
}
p{
    font-size: 1.5em;
    line-height:1.5em;
    text-align: center;
}
h2{
    font-size: 2.0em;
    padding: 1%;
    text-align: center;
}
menu{
   background-color: #e9d4ab;
   padding: 1%;
}
.itens_menu{
    text-align: center;
    font-size: 1.2em;
}
.logo{
    font-size: 1.5em;
}
figure{
    text-align: center;
}
footer{
    background-color: #e9d4ab;
    padding:1%;
    margin-top: 2%;
    font-size: 0.7cm;
}
.conteine{      
    padding-top: 2%;
}
.titulo_menu_caos{
    font-size: 1,5em;
}
.musica{
    text-align: center;
    font-size: 1.5em;
}
.capa_menu_caos{
    float: left;
    width: 20%;
}
.desenho_menu_caos{
    float: right;
    width: 15;
    padding-bottom: 5%;
}
.botao{
    background-color: #e9d4ab;color:#7a7771; /*gray */
    border: none;
    color:#e9d4ab
    padding: 15px 32px;
    text-decoration:inline-block ;
    font-size: 16px ;
}
.itens_menu a:link{
    color:#7a7771
    background-color: #ecce91
}
    
    

